.backgroundImage {
  position: absolute;
  z-index: 0;
  opacity: 0.50;
}
.img {
  z-index: 1;
  margin-left: 3.6rem;
  margin-top: 5rem;
  background: transparent;
}
.main {
  display: block;
  padding: 0px;
  margin: 0px;
}
.a {
  background: transparent ;
  padding-left: 2%;
  z-index: 1;
  margin-top: 5rem;
}
.logo {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.logo p {
  margin-left: 10px;
}

.description {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 1%;
  padding-top: 1%;
}

.description h1 {
  margin-top: -50%;
  color: #1E1E1E;
  font-family: Imbue;
  text-transform: uppercase;
  font-size: 110px;
  font-style: normal;
  font-weight: 400;
  line-height: 75.023%; /* 82.525px */
  letter-spacing: -2px;
  display: inline-flex; 
  align-items: center; 
  height: 100%;
}
.block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  width: 619px;
  height: 495px;
} 
.textblock {
  margin-bottom: 80px;
  padding-top: 12px;
  padding-left: 4%;
  border-radius: 20px;
  background: rgba(255, 214, 185, 0.50);
  color: #343434;
  font-family: Imbue;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: 115.023%; /* 63.769px */
}
.tile {
  font-family: Imbue;
  color: #1E1E1E;
  font-size: 110px;
  font-style: normal;
  font-weight: 400;
  line-height: 75.023%; /* 82.525px */
  padding-left: 1%;
  padding-top: 1%;
  background: transparent;
}
.pageWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: -3%;
  margin-right: 5%;
}
.contain {
  position: relative;
  justify-content: space-around;
  background: transparent;
  padding-left: 3%;
  z-index: 1;
}
.container {
  position: relative;
  width: 663.487px; 
  height: 501.798px;
  background: transparent;
}
.containerGroup {
  position: relative;
  margin-top: -23%;
  margin-left: 5%;
  width: 663.487px; 
  height: 501.798px;
}

.title {
  position: absolute;
  margin-left: 10%;
  margin-top: -3%;
  background: transparent;
  color: #464646;
  font-family: Istok Web, serif;
  font-size: 180px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -10px;
  transform: rotate(-45deg);
  line-height: 75%; /* 165.05px */
  z-index: 1;
}

.title1 {
  position: relative;
  margin-left: 4%;
  color: #FFF;
  font-family: Istok Web;
  font-size: 180px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -10px;
  line-height: 75%; /* 165.05px */
  transform: rotate(-45deg);
  background: transparent;
}

.text {
  width: 676px;
  text-align: right;
  padding-top: 20px;
  padding-right: 15px;
  color: #1E1E1E;
  background: #FFF;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 165.05px */
  font-family: Imbue;
}
.name {
  color: #1E1E1E;
  font-family: Istok Web;
  font-size: 110px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  background: transparent;
}
.lastname {
  font-family: Istok Web;
  font-size: 110px;
  font-style: normal;
  font-weight: 700;
  background: linear-gradient(180deg, #1E1E1E 0%, rgba(30, 30, 30, 0.00) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 90%;
}

.cube {
  padding-left: 10px;
  width: 698px;
  height: 556px;
  background: #FFF;
}
.secondCube {
  position: absolute;
  padding-top: 40%;
  padding-left: 10px;
  bottom: -58px;
  width: 634px;
  height: 453px;
  background: linear-gradient(180deg, #FFB37C 0%, #F2F2F2 100%);
  transform-origin: bottom left; /* Set the origin for the scaling */
  transition: transform 1s; /* Add a transition for smooth resizing */
}
.secondCube:hover {
  transform: scale(0); /* Increase the scale to show the first cube */
}

.downloadcv {
  width: 247px;
  height: 44px;
  border-radius: 38px;
  z-index: 1;
  background: transparent;
  background: linear-gradient(180deg, #F2F2F2 0%, rgba(255, 179, 124, 0.30) 60.94%, rgba(255, 235, 221, 0.57) 76.56%, rgba(255, 188, 139, 0.60) 91.15%, rgba(217, 217, 217, 0.00) 100%);
}
.downloadcv1 {
  text-align: center;
  font-family: Istok Web;
  font-size: 30px;
  font-weight: 700;
  background: linear-gradient(180deg, #555 0%, #756D68 7.29%, #FFD6B9 61.46%, rgba(52, 52, 52, 0.00) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contactme1 {
  text-align: center;
  font-family: Istok Web;
  font-size: 30px;
  font-weight: 700;
  background: linear-gradient(180deg, #555 0%, #756D68 7.29%, #FFD6B9 58.85%, rgba(52, 52, 52, 0.00) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contactme {
  width: 219px;
  height: 44px;
  z-index: 1;
  background: transparent;
  border-radius: 38px;
  background: linear-gradient(180deg, #F2F2F2 0%, rgba(172, 172, 172, 0.30) 59.18%, rgba(255, 255, 255, 0.49) 76.56%, rgba(100, 97, 97, 0.60) 99.99%, rgba(217, 217, 217, 0.00) 100%);
}

.downloadcv:hover,
.contactme:hover {
  background: linear-gradient(45deg, #FFB37C, #D9D9D9, #585858, #343434, #FFB37C, #D9D9D9, #585858, #343434);
  background-size: 200% 100%;
  background-position: -100% 0;
  animation: gradiant-effect 5s linear infinite, pulse-effect 2s ease-in-out infinite;;
  box-shadow: 0 0 8px #FF7E20;
  color: transparent;
  transition: 0.5s;
}

@keyframes gradiant-effect {
  0%, 100% {
    background-position: 0% 0;
  }
  25% {
    background-position: 50% 0;
  }
  50% {
    background-position: 100% 0;
  }
  75% {
    background-position: 50% 0;
  }
}

@keyframes pulse-effect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.sphere {
  position: absolute;
  z-index: -1;
  background: transparent;
  right: 50px;
  top: -2em; /* adjust to center */
  width: 155px;
  height: 155px;
  transform: rotate(45deg);
  transition: 0.5s;
  animation: pulse-effect 2s ease-in-out infinite;;
}
.sphere1 {
  position: absolute;
  z-index: -1;
  background: transparent;
  right: 30px;
  top: -3.5em; /* adjust to center */
  width: 150px;
  height: 150px;
  transform: rotate(-120deg);
  transition: 0.5s;
  animation: pulse-effect 2s ease-in-out infinite;;
}
.sphere2 {
  position: absolute;
  z-index: -1;
  background: transparent;
  right: -10px;
  top: 1em; /* adjust to center */
  width: 85px;
  height: 86px;
  transform: rotate(135deg);
  transition: 0.5s;
  animation: pulse-effect 2s ease-in-out infinite;;
}
.sphere3 {
  position: absolute;
  z-index: -1;
  background: transparent;
  right: 140px;
  top: -3.2em; /* adjust to center */
  width: 96.126px;
  height: 96.126px;
  transform: rotate(-120deg);
  transition: 0.5s;
  animation: pulse-effect 2s ease-in-out infinite;;
}
.rect {
  width: 1512px;
  height: 113px;
  display: flex; /* Add display flex to arrange elements in a row */
  justify-content: center; /* Center the elements horizontally */
  align-items: center; /* Center the elements vertically */
  position: relative; 
  margin-top: 10%;
  background: linear-gradient(90deg, rgba(250, 105, 0, 0.30) 0%, rgba(250, 105, 0, 0.00) 100%);
}
.rect1 {
  width: 1512px;
  height: 113px;
  margin-bottom: 80px;
  display: flex; /* Add display flex to arrange elements in a row */
  justify-content: flex-start; /* Center the elements horizontally */
  align-items: center; /* Center the elements vertically */
  position: relative; 
  padding-left: 5%;
  background: linear-gradient(90deg, rgba(250, 105, 0, 0.30) 0%, rgba(250, 105, 0, 0.00) 100%);
}

/*
.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}*/

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
